.git
.github
.venv
__pycache__
*.pyc
*.pyo
*.egg-info
build/
dist/
cover/
docs/
tests/
CONTRIBUTING.md
CHANGELOG.md
mkdocs.yml
pdm.lock
pyrightconfig.json
.pre-commit-config.yaml
.gitattributes
.gitignore
coverage.xml
rspec.xml
